<div class="row">
    <%= button_to 'Subscribe', '/auth/github', class: "btn-main btn-subscribe" %>
    <!--
       -<%= button_to 'Unsubscribe', subscriptions_destroy_path, method: :delete, class: "btn btn-subscribe" %>
       -->
</div>
