<div class="row">
    <%= button_to 'Subscribe', subscriptions_create_path, method: :get, class: "btn btn-subscribe" %>
    <%= button_to 'Unsubscribe', subscriptions_destroy_path, method: :delete, class: "btn btn-subscribe" %>
</div>
